.sheet form {
    display: flex;
    flex-direction: column;
}
.sheet-weaponConfig .sheet-armorConfig {
    height: 10%;
    display: flex;
    flex-direction: row;
}
.sheet-header {
    height: 15%;
}
.editor {
    height: 100%;
}
